<ion-header background-color="primary">
    <ion-toolbar color="primary" no-border>
        <ion-title>
            Test Camara Ver 0.2a
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid style="background-color:height: 100%; display: flex; flex-flow: column;">
        <ion-row class="ion-justify-content-center">
            <button class="btn btn-primary" ion-button block (click)="getPicture()">Sacar Foto</button>
        </ion-row>
        <div style="height: 100%">
            <label *ngIf="japish">{{ mensajeFoto }}</label>
            <img [src]="image" *ngIf="image" />
        </div>
        <div *ngIf="japish">
            <label>Posicion </label>
            <label>Lat : {{ gpsPositionLat }} </label>
            <label>Long : {{ gpsPositionLong }} </label>
        </div>
    </ion-grid>
</ion-content>